#play-button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#play-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.text-field {
    -fx-background-color: #2A5058, gray;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.text-field.error {
    -fx-background-color: red, gray;
}
